form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 3px 10px;
    width: 20%;
    line-height: 16px;
    margin: 10px 10px;
    border: dotted rgb(207, 97, 46) 1px ;
}

.userInputs {
    background-color: rgb(187, 234, 240);

}

#generate {
    margin: 10px;
}

#generate:hover {
    background: hotpink;
}