.headline {
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    color: grey;
}

#title {
    font-size: x-large;
    margin: 5px;
}

#author {
    font-size: small;
    margin: 5px;
}
